* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  position: relative;
}

html {
  font-size: 62.5%;
  color: white;
  font-family: "Raleway", sans-serif;
}

p {
  font-size: 1.4rem;
  margin: 1rem auto;
}

body {
  background-image: url(/images/bg-desktop.png);
  background-position: bottom;
  background-repeat: no-repeat;
  background-color: #0c122c;
}
.data-storage {
  display: flex;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -100%);
  margin-top: 500px;
  width: 70%;
  height: auto;
  margin: auto;
}

.main-header {
  background-color: #1e2c69;
  padding: 2.5rem;
  padding-right: 12rem;
  border-radius: 0.5rem 9rem 0.5rem 0.5rem;
}

.file-buttons {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 120%;
}

.file-buttons div {
  margin-top: 2rem;
  display: flex;
  height: 4rem;
  width: 4rem;
  background-color: hsl(229, 57%, 11%);
  padding: 1rem;
  align-items: center;
  border-radius: 5px;
  cursor: pointer;
}

.file-buttons div img {
  width: 100%;
}

.main-storage {
  width: 100%;
  background-color: #1e2c69;
  margin-left: 2rem;
  padding: 2.5rem;
  border-radius: 1rem;
}

.indicators {
  display: flex;
  justify-content: space-between;
  margin: 0;
}

.slider {
  display: flex;
  overflow: hidden;
  position: relative;
  border: 5px solid #131d46;
  border-radius: 22px;
}

#slider-bar {
  width: 100%;
  -webkit-appearance: none;
  margin: 0;
  border-radius: 13px;
  outline: none;
}

#slider-bar::-webkit-slider-thumb {
  -webkit-appearance: none;
  width: 15px;
  height: 15px;
  cursor: pointer;
  z-index: 3;
  position: relative;
}

#selector {
  height: 25px;
  padding-top: 10px;
  width: 15px;
  position: absolute;
  bottom: 0px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 2;
}

.select-btn {
  height: 15px;
  width: 15px;
  background-color: white;
  border: 1.5px solid #666;
  border-radius: 50%;
  position: absolute;
}

.smaller {
  font-size: 11px;
}

#storage-left {
  position: absolute;
  display: flex;
  padding: 15px;
  text-align: left;
  color: black;
  right: 10px;
  width: 158px;
  height: 60px;
  top: -35px;
  justify-content: left;
  align-items: center;
  font-size: 50px;
  font-weight: bold;
  background: #fff;
  border-radius: 0.4em;
}

#storage-left:after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 50%;
  width: 0;
  height: 0;
  border: 15px solid transparent;
  border-top-color: #fff;
  border-bottom: 0;
  margin-left: 0px;
  margin-bottom: -15px;
}

#progress-bar {
  pointer-events: none;
  position: absolute;
  width: 50%;
  height: 15px;
  background-image: linear-gradient(
    to right,
    hsl(6, 100%, 80%),
    hsl(335, 100%, 65%)
  );
}

@media (max-width: 740px) {
  .data-storage {
    flex-direction: column;
    margin: 150px auto;
    width: 70%;
  }

  .data-storage header {
    margin: 20px auto;
    width: 100%;
  }

  .main-storage {
    margin: auto;
  }

  .file-buttons {
    width: 150%;
    margin: auto;
  }
}
